@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
    
}
    <h1>Customers</h1>
    


    <table>

        @foreach (var customer in @Model.Customers)
         {
        <tr>
            <td>
                <a href="/home/details/@customer.Id">Details</a>
            @Html.ActionLink("View", nameof(HomeController.Details), new { id = customer.Id })
                <a asp-action="Details" asp-route-id="Id"> </a>
            </td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.PhoneNumber</td>
        </tr>
         }
    </table>
       
        <a asp-action="Create">Create</a>
        
            @section footer {
               <h3>@Model.CurrentMessage</h3>
            }
        
    
