@using SimpleCrm.Web.Controllers 
@model SimpleCrm.Web.Models.HomePageViewModel
@{
}

<html>
<head>
    <title>Simple CRM</title>
</head>
<body>
    <h1>Customers</h1>
    <p>@Model.CurrentMessage</p>


    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>

        @foreach (var customer in @Model.Customers)
         {
        <tr>
            <td>@Html.ActionLink("View", nameof(HomeController.Details), new { id = customer.Id })</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.PhoneNumber</td>
        </tr>
         }
         
       

    </table>
</body>
</html>